<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->


<h1 class="p-4">Animals</h1>

<ul>
    {{#each type}}
    <li>Name: {{animalType}}</li>
    <li>Pet Status: {{pet}}</li>
    <li>Fierceness: {{fierceness}}</li>
    <br>
    {{/each}}
</ul>